---
layout: gallery
title: Gallery
permalink: /gallery/
---


    <div class="gallery-index-grid">
      {% assign galleries = site.gallery | sort: "order" %}
      {% for gallery in galleries %}
      <a href="{{ gallery.url }}" class="gallery-index-item">
        <div class="gallery-index-title">{{ gallery.title }}</div>
        {% if gallery.preview.thumbnail contains '://' or gallery.preview.thumbnail contains './' or gallery.preview.thumbnail contains '/' %}
          {% assign preview_src = gallery.preview.thumbnail %}
        {% else %}
          {% assign preview_src = site.baseurl | append: '/assets/img/gallery/' | append: gallery.picture_path | append: '/' | append: gallery.preview.thumbnail %}
        {% endif %}
        <img class="img-thumbnail" alt="{{ gallery.title }}" src="{{ preview_src }}" />
      </a>
      {% endfor %}
    </div>
